Laboratorio5/Web References/net.azurewebsites.hadspportalo/Coordinacion.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="media">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="asignatura" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mediaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="mediaResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="mediaSoapIn">
    <wsdl:part name="parameters" element="tns:media" />
  </wsdl:message>
  <wsdl:message name="mediaSoapOut">
    <wsdl:part name="parameters" element="tns:mediaResponse" />
  </wsdl:message>
  <wsdl:portType name="CoordinacionSoap">
    <wsdl:operation name="media">
      <wsdl:input message="tns:mediaSoapIn" />
      <wsdl:output message="tns:mediaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CoordinacionSoap" type="tns:CoordinacionSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="media">
      <soap:operation soapAction="http://tempuri.org/media" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CoordinacionSoap12" type="tns:CoordinacionSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="media">
      <soap12:operation soapAction="http://tempuri.org/media" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Coordinacion">
    <wsdl:port name="CoordinacionSoap" binding="tns:CoordinacionSoap">
      <soap:address location="http://hadspportalo.azurewebsites.net/Coordinacion.asmx" />
    </wsdl:port>
    <wsdl:port name="CoordinacionSoap12" binding="tns:CoordinacionSoap12">
      <soap12:address location="http://hadspportalo.azurewebsites.net/Coordinacion.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>